<header class="new_object_header">
  <h2>New Eatory Saved</h2>
  <hr/>
</header>
<br/>
<br/>
<br/>
<section class="new_object">
  <hr/>
  <br/>
  <p>Eatory Name: <%= @eatory.name %></p>
  <br/>
  <hr/>
  <br/>
  <br/>
  <form class="" action="/eatories/new" method="get">
    <button type="submit" name="button">Return to Create New Eatory</button>
  </form>
  <br/>
  <br/>
  <form class="" action="/eatories/new" method="get">
    <button type="submit" name="button">View Eatories Listing</button>
  </form>
</section>
