<header class="new_object_header">
  <h2>Eatory Successfully Deleted</h2>
  <br/>
</header>
<hr/>
<section class="new_object">
  <h3>Old Eatory Details</h3>
  <hr/>
  <br/>
  <p>Eatory Name: <%= @eatory.name %></p>
  <br/>
<hr/>
</section>
<form class="return_button" action="/eatories" method="get">
<div class="empty_container">
</div>
<button type="submit" name="button">Return to Eatories Index</button>
<div class="empty_container">
</div>
</form>
