<header class="new_object_header">
  <h2>New Eatery Saved</h2>
  <hr/>
</header>
<br/>
<br/>
<br/>
<section class="new_object">
  <hr/>
  <br/>
  <p>Eatery Name: <%= @eatery.name %></p>
  <br/>
  <hr/>
  <br/>
  <br/>
  <form class="" action="/eateries/new" method="get">
    <button type="submit" name="button">Return to Create New Eatery</button>
  </form>
  <br/>
  <br/>
  <form class="" action="/eateries/new" method="get">
    <button type="submit" name="button">View Eateries Listing</button>
  </form>
</section>
