<header class="new_object_header">
  <h2>Eatery Successfully Deleted</h2>
  <br/>
</header>
<hr/>
<section class="new_object">
  <h3>Old Eatery Details</h3>
  <hr/>
  <br/>
  <p>Eatery Name: <%= @eatery.name %></p>
  <br/>
<hr/>
</section>
<form class="return_button" action="/eateries" method="get">
<div class="empty_container">
</div>
<button type="submit" name="button">Return to Eateries Index</button>
<div class="empty_container">
</div>
</form>
