<article class="main_display">
  <header>
    <h2 class="index_objects">Create New Eatery</h2>
  </header>
<section class="create_burger">
  <div class="empty_container">
  </div>
  <form class="create" action="/eateries" method="post">
    <label for="eatery_name">Eatery Name: </label>
    <input type="text" name="name" value="" id="eatery_name" autocomplete="off" required/>
    <br/>
    <br/>
    <input type="submit" name="" value="Create New Eatery">
  </form>
  <div class="empty_container">
  </div>
</section>
</article>
