<article class="main_display">
  <header>
    <h2 class="index_objects">Days of the Week</h2>
  </header>
  <section class="left_right_container">
    <section class="left">
      <% if @active_days %>
        <header class="sub_header">
          <h3>Days with Active Deals</h3>
        </header>
        <br/>
        <% for day in @active_days %>
          <section class="object">
            <div class="sub_left">
              <p><%= day.day %></p>
            </div>
            <div class="sub_right">
             <a class="button" href="/days/<%= day.id %>">See Deals</a>
            </div>
          </section>
          <br/>
        <% end %>
      <% else %>
      <header class="sub_header">
        <h3>No Days with Active Deals</h3>
      </header>
      <br/>
      <% end %>
    </section>
    <section class="right">
      <% if @inactive_days %>
      <header class="sub_header">
        <h3>Days with no Active Deals</h3>
      </header>
        <% for day in @inactive_days %>
          <section class="object">
            <div class="sub_lower">
              <p><%= day.day %></p>
              <br/>
            </div>
          </section>
          <br/>
        <% end %>
      <% else %>
      <header class="sub_header">
        <h3>All Days have Deals</h3>
      </header>
      <br/>
      <% end %>
    </section>
  </section>
</article>
