<article class="main_display">
  <% if @changes == false %>
    <header>
      <h2 class="index_objects">No New Burger Saved - No Details Entered</h2>
    </header>
  <% else %>
    <header>
      <h2 class="index_objects">New Burger Saved</h2>
    </header>
    <br/>
    <br/>
    <br/>
    <section class="object">
    <% if @burger.name != "" %>
      <br/>
      <p>Name: <%= @burger.name %></p>
      <p>Type: <%= @burger.type %></p>
      <br/>
    <% else %>
      <br/>
      <p>Type: <%= @burger.type %></p>
      <br/>
    <% end %>
    <hr/>
    </section>
  <% end %>
  <br/>
  <hr/>
  <br/>
  <br/>
  <a class="button" href="/burgers/new">Return to Create New Burger</a>
  <br/>
  <br/>
  <br/>
  <a class="button" href="/burgers">Return to Burgers Listing</a>
  </section>
</article>
