<section class="create_burger">
  <div class="empty_container">
  </div>
  <form class="create" action="/burgers" method="post">
    <label for="optional_burger_name">Burger Name (optional): </label>
    <input type="text" name="name" value="" id="optional_burger_name"/>
    <br/>
    <label for="burger_type">Burger Type: </label>
    <input type="text" name="type" value="" id="burger_type"/>
    <br/>
    <input type="submit" name="" value="Create New Burger">
  </form>
  <div class="empty_container">
  </div>
</section>
