<article class="show_object">
  <header>
    <h2 class="index_objects">Create New Burger</h2>
  </header>
<section class="create_burger">
  <div class="empty_container">
  </div>
  <form class="create" action="/burgers" method="post">
    <label for="optional_burger_name">Burger Name (optional): </label>
    <input type="text" list="names" name="name" value="" id="optional_burger_name" autocomplete="off"/>
    <datalist class="" id="names">
      <% for name in @burger_names %>
        <option value="<%= name %>"><%= name %></option>
        <% end %>
    </datalist>
    <br/>
    <label for="burger_type">Burger Type: </label>
    <input type="text" list="types" name="type" value="" id="burger_type" autocomplete="off"/>
    <datalist class="" id="types">
      <% for type in @burger_types %>
        <option value="<%= type %>"><%= type %></option>
        <% end %>
    </datalist>
    <br/>
    <input type="submit" name="" value="Create New Burger">
  </form>
  <div class="empty_container">
  </div>
</section>
</article>
