<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Burger Deal Deal Deals</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/main_nav_bar.css">
  </head>
  <body>
    <section class="interactable_area">
      <header id="fixed_header_layout">
        <div class="banner">
          <a href="/">Code Clan deal traCker</a>
        </div>
        <div class="nav_bar_wrapper">
          <nav class="layout_nav_bar">

            <ul class="dropdown">
              <li class="list" id="left_most_dropdown">
                  <a class="category" name="days" href="/days">Days</a>
                  <ul class="dropdown_content">
                    <li><a href="/days">Search Deals <br/> By Day</a></li>
                  </ul>
            </ul>

            <ul class="dropdown">
              <li class="list">
                  <a class="category" name="deals" href="/deals">Deals</a>
                  <ul class="dropdown_content">
                    <li><a href="/deals">List All Deals</a></li>
                    <li><a href="/deals/new">Create New <br/> Deal</a></li>
                  </ul>
              </li>
            </ul>

            <ul class="dropdown">
              <li class="list">
                  <a name="eateries" class="category" href="/eateries">Eateries</a>
                  <ul class="dropdown_content">
                    <li><a href="/eateries">List All <br/> Eateries</a></li>
                    <li><a href="/eateries/new">Create New Eatery</a></li>
                  </ul>
              </li>
            </ul>

            <ul class="dropdown">
              <li class="list">
                  <a name="burgers" class="category" href="/burgers">Burgers</a>
                  <ul class="dropdown_content">
                    <li><a href="/burgers" tabindex="0">List All <br/> Burgers</a></li>
                    <li><a href="/burgers/new" tabindex="0">Create New Burgers</a></li>
                  </ul>
              </li>
            </ul>

          </nav>
        </div>
      </header>
      <div class="header_space_holder">
      </div>
      <main>
        <%= yield %>
      </main>
    </section>
    <footer>
      <p>Code Clan traCker - that's here</p>
    </footer>
  </body>
</html>
