<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Burger Deal Deal Deals</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  </head>
  <body>
    <header>
        <div class="banner">
          <a href="/">Home</a>
        </div>
        <div class="nav_bars">
          <nav id="admin_bar">
            <ul>
              <li>Admin: </li>
              <li> <a href="/deals">Deals</a></li>
              <li><a href="/eatories">Eatories</a> </li>
              <li><a href="/burgers">Burgers</a></li>
            </ul>
          </nav>
          <nav id="search_bar">
            htfg
          </nav>
        </div>
    </header>
    <div class="header_space_holder">
    </div>
    <main>
      <%= yield %>
    </main>
    <footer>adfj</footer>
  </body>
</html>
