<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>Burger Deal Deal Deals</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  </head>
  <body>
    <header id="layout">
      <div class="banner">
        <a href="/">Home</a>
      </div>
      <nav class="nav_bar">
        <div class="dropdown">
          <button type="button" name="days" class="dropbtn">Days</button>
          <div class="dropdown_content">
            <a href="/days">Search Deals By Day</a>
          </div>
        </div>

        <div class="dropdown">
          <button type="button" name="deals" class="dropbtn">Deals</button>
          <div class="dropdown_content">
            <a href="/deals">List All Deals</a>
            <a href="/deals/new">Create New Deal</a>
          </div>
        </div>

        <div class="dropdown">
          <button type="button" name="eatories" class="dropbtn">Eatories</button>
          <div class="dropdown_content">
            <a href="/eatories">List All Eatories</a>
            <a href="/eatories/new">Create New Eatory</a>
            <a href="">Create New Burger at Eatory</a>
            <a href="">Create New Deal at Eatory</a>
          </div>
        </div>


        <div class="dropdown">
          <button type="button" name="burgers" class="dropbtn">Burgers</button>
          <div class="dropdown_content">
            <a href="/burgers">List All Burgers</a>
            <a href="/burgers/new">Create New Burgers</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="header_space_holder">
    </div>
    <main>
      <%= yield %>
    </main>
    <footer>adfj</footer>
  </body>
</html>
