body {
  width: 95vw;
  margin: auto;
  font-size: 100%;
}

#layout {
  background-color: #FFF;
  position: fixed;
  width: 95vw;
  height: 15vh;
}

.banner {
  height: 40%;
  border-style: solid;
  border-width: 1px;
}

.nav_bars {
  height: 60%;
}

.nav_bars ul {
  height: 100%;
  display: flex;
}

.nav_bars li {
  width: 23.75vw;
  border: solid;
  border-width: 1px;
}

#admin_bar {
  padding: 0px;
  height: 50%;
}
#search_bar {
  padding: 0px;
  height: 47%;
}

.header_space_holder {
  height: 15.25vh;
  border-style: hidden;
}

main {
  padding: 0.25%;
  margin-top: 0.4vh;
  margin-bottom: 0.4vh;
  min-height: 77vh;
  border: solid;
  border-width: 1px;
}

.index_objects {
  padding: 0.5%;
  text-align: center;
  border-bottom: solid 1px;
}

article {
  min-height: 72vh;
  margin: 2px;
}

.object_section {
  padding-top: 2%;
  text-align: center;
  border-bottom: solid 1px;
  min-height: 3vh;
  display: flex
}

.object_section section {
  width: 50%;
  border: dotted 1px;
}

.object_section div {
  margin: 0.5vh auto;
}

.object_section section ul {
  display: flex;
}

.object_section li {
  margin: 1.25vh auto;
}

.show_object header {
  min-height: 5vh;
  padding-top: 1.25vh;
  padding-bottom: 1.75vh;
  border: solid 1px;
  text-align: center;
}
.show_object h2 {
  font-size: 150%;
}

.show_object_object {
  min-height: 77vh;
}
.show_object_object header {
  border-top: solid 1px;

  height: 10%;
  text-align: center;
}

.show_object_object h2{
  text-decoration: underline;
}

.show_object_object .upper {
  margin-bottom: 0.25%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 6%;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
}

.show_object_object .middle {
  padding-top: 1%;
  padding-bottom: 1%;
  height: 8%;
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
}

.show_object_object #burgers_eatories_deals {
  margin: 1.5% auto;
  min-height: 20vh;
}

.show_object_object .lower {
  padding-top: 1%;
  padding-bottom: 1%;
  height: 8%;
  margin: 1%, auto;
  text-align: center;
  /*border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;*/
}

.show_object_object #burgers_eatories_deals .object {
  padding-top: 1%;
  padding-bottom: 1%;
  min-height: 5vh;
  margin-top: 1%;
  text-align: center;
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
}

.show_object_object #burgers_eatories_deals .back_one {
  min-height: 3vh;
  width: 40%;
  margin: 2% auto;
  border: solid 1px;
  text-align: center;
}

.show_object #burgers_eatories_deals {
  margin: 0.25vh auto;
  display: flex;
}

.show_object #burgers_eatories_deals h3 {
  margin: 1vh;
  text-align: center;
  text-decoration: underline;
}

.show_object #burgers_eatories_deals .left h4 {
  margin: 1vh;
  text-align: center;
  text-decoration: underline;
}

.show_object #burgers_eatories_deals .left p {
  margin: 1vh;
  text-align: center;
}

.show_object #burgers_eatories_deals .left section {
  display: flex;
  min-height: 8vh;
}

.show_object #burgers_eatories_deals .right section {
  min-height: 15.5vh;
}

.show_object #burgers_eatories_deals .left section .sub_left {
  height: 100%;
  width: 75%;
  border-right: solid 1px;
}

.show_object #burgers_eatories_deals .left section .sub_right {
  text-align: center;
  height: 100%;
  width: 25%;
}

.show_object #burgers_eatories_deals .left section .sub_right {
  margin-top: 8%;
}

.show_object #burgers_eatories_deals .right section .sub_upper {
  height: 50%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2%;
  border-bottom: solid 1px;
}

.show_object #burgers_eatories_deals .right section .sub_lower {
  text-align: center;
}

.show_object #burgers_eatories_deals .right section .sub_lower {
  margin: 10% auto;
}

.show_object #burgers_eatories_deals .left {
  width: 64.75%;
  margin-right: 0.25%;
  min-height: 67.5vh;
  border: solid 1px;
}

.show_object #burgers_eatories_deals .right {
  width: 34.75%;
  margin-left: 0.25%;
  min-height: 67.5vh;
  border: solid 1px;
}

footer {
  margin: 0.25vh 0vw;
  height: 5vh;
  border:solid;
}
