body {
  width: 95vw;
  margin: auto;
  font-size: 100%;
  max-width: 800px;
}

#layout {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  background-color: #FFF;
  position: fixed;
  max-width: 800px;
  height: 8vh;
}


.header_space_holder {
  height: 8.8vh;
  border-style: hidden;
}

.banner {
  max-height: 40%;
  min-height: 4vh;
  border-style: solid;
  border-width: 1px;
}

.nav_bar {
  overflow: hidden;
  padding: 0px;
  /*max-height: 60%;
  min-height: 3vh;*/
  width: 95vw;
  max-width: 800px;
  display: flex;
}

/*.navbar a {
  /*float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/

.dropdown {
  height: 100%;
  width: 25%;
  border: solid;
  border-width: 1px;
  overflow: hidden;
}

.dropdown .dropbtn {
  width: 100%;
  height: 100%;
  border: solid 1px;
  /*outline: none;*/
  /*color: white;*/
  /*background-color: rgb(201, 174, 197);*/
}

.nav_bar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown_content {
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown_content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown_content {
  display: block;
  background-color: #FFF;
}

main {
  padding: 0.25%;
  margin-top: 0.4vh;
  margin-bottom: 0.4vh;
  max-height: 83.8vh;
  min-height: 83vh;
  /*max-width: 800px;*/
  margin: auto;
  border: solid;
  border-width: 1px;
  overflow: scroll;
}

.index_objects {
  padding: 0.5%;
  text-align: center;
  border-bottom: solid 1px;
}

article {
  min-height: 72vh;
  margin: 2px;
}

.object_section {
  padding-top: 2%;
  text-align: center;
  border-bottom: solid 1px;
  min-height: 3vh;
  display: flex
}

.object_section section {
  width: 50%;
  border: dotted 1px;
}

.object_section div {
  margin: 0.5vh auto;
}

.object_section section ul {
  display: flex;
}

.object_section li {
  margin: 1.25vh auto;
}

.show_object header {
  min-height: 5vh;
  padding-top: 1.25vh;
  padding-bottom: 1.75vh;
  border: solid 1px;
  text-align: center;
}
.show_object h2 {
  font-size: 150%;
}

.show_object_object {
  min-height: 77vh;
}
.show_object_object header {
  border-top: solid 1px;

  height: 10%;
  text-align: center;
}

.show_object_object h2{
  text-decoration: underline;
}

.show_object_object .upper {
  margin-bottom: 0.25%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 6%;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
}

.show_object_object .middle {
  padding-top: 1%;
  padding-bottom: 1%;
  height: 8%;
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
}

.show_object_object #burgers_eatories_deals {
  margin: 1.5% auto;
  min-height: 20vh;
}

.show_object_object .lower {
  padding-top: 1%;
  padding-bottom: 1%;
  height: 8%;
  margin: 1%, auto;
  text-align: center;
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
}

.show_object_object #burgers_eatories_deals .object {
  padding-top: 1%;
  padding-bottom: 1%;
  min-height: 5vh;
  margin-top: 1%;
  text-align: center;
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;
}

.show_object_object #burgers_eatories_deals .back_one {
  min-height: 3vh;
  width: 40%;
  margin: 2% auto;
  border: solid 1px;
  text-align: center;
}

.show_object #burgers_eatories_deals {
  margin: 0.25vh auto;
  display: flex;
}

.show_object #burgers_eatories_deals h3 {
  margin: 1vh;
  text-align: center;
  text-decoration: underline;
}

.show_object #burgers_eatories_deals .left h4 {
  margin: 1vh;
  text-align: center;
  text-decoration: underline;
}

.show_object #burgers_eatories_deals .left p {
  margin: 1vh;
  text-align: center;
}

.show_object #burgers_eatories_deals .left section {
  display: flex;
  min-height: 8vh;
}

.show_object #burgers_eatories_deals .right section {
  min-height: 5vh;
}

.show_object #burgers_eatories_deals .left section .sub_left {
  height: 100%;
  width: 75%;
}

.show_object #burgers_eatories_deals .left section .sub_right {
  text-align: center;
  height: 100%;
  width: 25%;
  margin: 1%;
  border-left: solid 1px;

}

.show_object #burgers_eatories_deals .right section .sub_upper {
  height: 50%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2%;
  border-bottom: solid 1px;
}

.show_object #burgers_eatories_deals .right section .sub_lower {
  text-align: center;
  margin: 10% auto;
}

.show_object #burgers_eatories_deals .left {
  width: 64.75%;
  margin-right: 0.25%;
  min-height: 67.5vh;
  border: solid 1px;
}

.show_object #burgers_eatories_deals .right {
  width: 34.75%;
  margin-left: 0.25%;
  min-height: 67.5vh;
  border: solid 1px;
}

.create_burger {
  min-height: 30vh;
  border: solid 1px;
  display: flex;
}

.create_burger .empty_container {
  width: 20%;
}

.create_burger .create {
  width: 60%;
  margin:auto;
}

.new_object_header {
  width: 30%;
  margin: 1% auto;
  text-align: center;
}

.new_object {
  width: 60%;
  margin: 1% auto;
  text-align: center;
}

.edit_object_header {
  width: 100%;
  margin: 1% auto;
  text-align: center;
  /*display: flex;*/
}

.edit_object, .delete_object {
  width: 60%;
  margin: 1% auto;
  text-align: center;

}

.edit_object h2, .delete_object h2 {
  text-decoration: underline;
}

input::-webkit-input-placeholder {
    color: #999;
    font-style: italic;
}

input::-moz-placeholder {
    color: #999;
    font-style: italic;
}

input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder  {
  color: transparent;
}
input:hover::-moz-placeholder,
input:hover::-moz-placeholder {
  color: transparent;
}

.edit_object input {
  width: 80%;
  text-align: center;
}

.edit_object button {
  width: 40%;
  height: 10%;
  text-align: center;
  border-style: groove;
}

.edit_object button:hover,
.delete_object button:hover {
  border-left-width: 3px;
  border-right-width: 3px;
  color: white;
  background-color: #cccccc;
}

/*.delete_object {
  width: 60%;
  margin: 1% auto;
  text-align: center;
}*/

.return_button {
  display: flex;
}

.return_button .empty_container {
  width: 30%;
}

.return_button button {
  margin-left: 5%;
  margin-right: 5%;
  width: 30%;
  margin: 0 auto;
}

.delete_object button {
  width: 40%;
  height: 10%;
  text-align: center;
  border-style: groove;
}

.show_object .index_objects {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.show_object header {
  display: flex;
  /*width: 100%;*/
  margin: 0 auto;
}

.show_object .header_left {
  width: 70%;
  border-right: solid 1px;
}
.show_object header .header_right{
  width: 30%;
  margin: 0 auto;
  margin-top: 4%;
}

.deal_type_radio {
  display: flex;
}
.deal_type_radio .radio_input {
  display: flex;
  width: 20%;
  margin: 0 auto;
}

.edit_object_object {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.unstocked_burgers {
  width: 90%;
  padding-top: 5%;
  border: solid 1px;
  margin: 0 auto;
}

.stocked_burgers {
  width: 90%;
  padding-top: 5%;
  border: solid 1px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1.5%;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.container_burger_label_and_price {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.unstocked_burgers .burger_label {
  margin: 0 auto;
  width: 40%;
}

.unstocked_burgers .price{
  margin: 0 auto;
  width: 50%;
  height: 98%;
}

.unstocked_burgers .price .pounds {
  padding-left: 0%;
  width: 50%;
}

.unstocked_burgers .price input {
  min-width: 20%;
  max-width: 30%;
  margin-right: 0;
  margin-right: 0px;
}
.unstocked_burgers .price label {
  width: 20%;
  margin-right: 0;
  margin-right: 0px;
  height: 50%;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.2s;
  input[type="radio"]:checked ~ & {
  opacity: 1;
  max-height: 100%;
  max-width: 95%;
  margin: 0 auto;
  overflow: visible;
  /*padding: 10px 20px;*/
  transform: scale(1);
}
}

input[type="radio"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100%;
  overflow: visible;
}

.deals_removed {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

footer {
  margin: 0.25vh 0vw;
  height: 5vh;
  border:solid;
}
