<h2 class="index_objects">List of All Deals</h2>
<article>
  <% for deal in @deals %>
    <section class="object_section">
      <section>
        <div>
            <p><%= deal.label %></p>
            <p>Saving Type: <%= deal.value_string %></p>
            <p>Day Available: <%= deal.day %></p>
        </div>
      </section>
      <section>
        <ul>
          <li> <a href="/deals/<%= deal.id %>">More Details</a></li>
        </ul>
      </section>
    </section>
  <% end %>
</article>
